<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Write, Execute, Script">
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\alias\appdata\local\programs\python\python37\python.exe|c:\users\alias\appdata\local\programs\python\python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\cerberus" />
        <!-- The handler here is specific to Bottle; see the next section. -->
        <add key="WSGI_HANDLER" value="NLPFrontEnd.wsgi.application" />
    </appSettings>
</configuration>    