{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}

{% block container %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/agregar_doc.css' %}" />
    <div class="row">
        <div class="col-md-6">
            <div id="sidebar">
            <div id="titulo_sidebar"><b>{{caso}}</b> - Adjuntar documentos</div>
            <div class="row"  style="margin-left: 6rem !important;">
                <div class="col-md-12">
                    <div id="contenedor">
                        <form id="file-form" action="{% url 'agregar_doc' caso_id %}" enctype="multipart/form-data" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-offset-5 col-md-2">
                                    <label class="btn" id="cargar_label" for="id_documento">Cargar documento&nbsp;&nbsp;<i style="font-size:20px"class="fas fa-file-upload"></i></label>
                                </div>
                            </div>
                            {% bootstrap_form form %}   
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit"class="btn" id="aceptar">Aceptar</button>
                                    <button type="button" class="btn" id="cancelar">Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
    
    
{% endblock container %}

{% block scripts %} 
    <script src="{% static 'FrontEnd/scripts/my_scripts/agregar_doc.js' %}"></script>
    
{% endblock scripts %}