{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load FrontEnd_extras %}

{#Generador automatico en base al camino_array del path de origen de la breadcrumbb navbar#}
{% block breadcrumb-li %}
    {% include 'FrontEnd/breadcrumb-generator.html' %}  
    <li class="breadcrumbb-item active" aria-current="page">Buscador guiado</li>
{% endblock %}

{% block container %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/buscador.css' %}" />
    <div id="row-principal" class="row" style="margin-top: 8rem; height: 80%; width: 100%">
        <div class="col-md-3" style="margin-left:2rem">
            <div id="jumboside" class="jumbotron" style="margin-bottom:0px !important">
                {% if notas %}
                    <div>
                        <div id="notificacion_nota" class="nota-bell" title="Existen notas asociadas a la investigación o sus documentos"><a id="bell-a" href="{% url 'ver_notas_especifica' investigacion_id=investigacion_id %}"><i class="fas fa-bell"></i></a><div id="circulo_rojo"></div></div>
                    </div>
                {% else %}
                    <div>
                        <div id="no_notificacion_nota" class="nota-bell" title="No existen notas asociadas a la investigación o sus documentos"><i class="fas fa-bell"></i></div>
                    </div>
                {% endif %}
                <button id="arrow-left" title="Búsqueda inteligente" class="btn flechas" onclick="location.href='{% url 'buscador_inteligente' tipo='Búsqueda' investigacion_id=investigacion_id camino=camino %}'"><i class="fas fa-brain"></i></button>
                <button id="arrow-right" title="Búsqueda general" class="btn flechas" onclick="location.href='{% url 'buscador_general' investigacion_id=investigacion_id camino=camino %}'"><i class="fas fa-search"></i></button>
                <h1 id="titulo" style="margin-top:-.3rem" title="{{investigacion_nombre}}">
                {% if investigacion_nombre|length < 10 %}
                    {{investigacion_nombre}}
                {% else %}
                    {{investigacion_nombre|truncatechars:8}}
                {% endif %}
                </h1>
                <p id="investigacion">Buscador guiado</p>
            </div>
            
            {% for expresion in expresiones %}
            <div class="row">
                <div class="col-md-7 col-md-offset-1 col-btn-guiados">
                    <button class="btn botones btn-guiada"  onclick="location.href='{% url 'buscador_guiado' tipo=expresion.nombre id_regex=expresion.id investigacion_id=investigacion_id camino=camino %}';">{{expresion.nombre}}</button>
                </div>
                <div class="col-md-2" style="margin-left:4rem">
                    <input class="checks" form="forma_eliminar" name="checks_regex[]" value="{{expresion.id}}" type="checkbox" style="margin-left:2rem !important; display:none">
                </div>
            </div>
            {% endfor %}
            {% if tipo != "Búsqueda" %}
                {% if res.items|length != 0 %}
                    <button id="btn-save2" title="Guardar búsqueda" class="btn botones" data-toggle="modal" data-target="#modalAdvice"><i class="fas fa-save"></i></button>
                {% endif %}
            {% else %}
                {% if user.is_superuser %}
                    <button id="btn-agregar" title="Agregar nueva expresión" class="btn botones2" data-toggle="modal" data-target="#modalAgregar"><i class="fas fa-plus"></i></button>
                    <button id="eliminar-regex" title="Eliminar expresiones" class="btn botones2" data-toggle="modal" data-target="#modalEliminar"><i class="far fa-trash-alt"></i></button>
                    <button id="cancelar-regex" title="Cancelar selección" class="btn botones2"><i class="fas fa-times"></i></button>
                    <button id="btn-select" title="Seleccionar expresiones" class="btn botones2 btn-2"><i class="fas fa-check"></i></button>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-md-8">
            <div id="jumbocenter" class="jumbotron" style="margin-bottom: 0px !important">
                <div id="cabeza">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 id="titulo2">{{tipo}}</h2>
                        </div>
                        {% if tipo != "Búsqueda" %} 
                            <div class="col-md-2 col-md-offset-1">
                                <p class="cantidad" style="text-align:center; margin-left:3rem">Destacar</p>
                            </div>
                            <div class="col-md-2">
                                <p class="cantidad" style="text-align:center; padding-top:1rem;">Cant. apariciones </p>
                            </div>
                            <div class="col-md-2">
                                <p class="cantidad" style="margin-left:2rem;">Ver más </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="cuerpo" style="margin-top:1rem">
                    <form id="guardar" action="{% url 'guardar_resultadoGuiado' tipo=tipo investigacion_id=investigacion_id camino=camino %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="resultado_json" value="{{json}}">
                    </form>
                    {% for key, value in res.items %}
                        <div class="row info">
                            <div class="col-md-4">
                                {% if key|length < 35 %}
                                    <p title="{{key}}">{{key}}</p>
                                {% else %}
                                    <p title="{{key}}">{{key|truncatechars:35}}</p>
                                {% endif %}
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <input class="checks" form="guardar" name="checks3[]" value="{{key}}" type="checkbox" style="margin-left:5rem !important; margin-top:1rem !important">
                            </div>
                            <div class="col-md-2 ">
                                <div class="cantidad_ap">{{value|length}}</div>
                            </div>
                            <div class="col-md-2" style="height: 5rem">
                                <div class="dropdown">
                                  <button class="btn dropdown-toggle btn-drop" data-toggle="dropdown">
                                    <span class="plus_guiado">Documentos</span>&nbsp;&nbsp;&nbsp;
                                    <span class="caret" style="color:#424242"></span>
                                  </button>
                                  <ul class="dropdown-menu" style="top:59% !important; height:">
                                      {% for item in value %}
                                        <li>
                                            <a href="#" title="{{item.1}}" data-toggle="modal" data-target="#modalDetalles" data-url="{% url 'ver_doc' id_doc=item.0 %}" data-docNombre="{{item.1}}" data-posInicial="{{item.2}}" data-string="{{key}}" data-posFinal="{{item.3}}" data-parrafo="{{item.5}}" data-parrafoNro="{{item.4}}" data-preparrafo="{{item.6}}" data-postparrafo="{{item.7}}">
                                            {% if item.1|length < 25 %}
                                                {{item.1}}
                                            {% else %}
                                                {{item.1|truncatechars:25}}
                                            {% endif %}
                                            </a>
                                        </li>
                                      {% endfor %}
                                  </ul>
                                </div>
                               
                            </div>
                        </div>
                    {% empty %}
                        {% if tipo != "Búsqueda" %} 
                            <p class="vacio">No hay ninguna coincidencia</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    

    <div id="modalDetalles" class="modal fade" style="top:-15% !important" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" style="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles</h4>
            </div>
            <div class="modal-body">
                <p id="aparicion_original"><span class="detalles"><i>Aparición: &nbsp;&nbsp;&nbsp;</i></span><span id="ap_string"></span></p>
                <p><span class="detalles"><i>Párrafo: &nbsp;&nbsp;&nbsp;</i></span><span id="parrafo_nro"></span></p>
                <p><span class="detalles"><i>Posición inicial: &nbsp;&nbsp;&nbsp;</i></span><span id="pos_inicial"></span></p>
                <p><span class="detalles"><i>Posición final: &nbsp;&nbsp;&nbsp;</i></span><span id="pos_final"></span></p>
                <form id="ver_form" action="" method="post">
                    {% csrf_token %}
                    <p><span class="detalles"><i>Documento: &nbsp;&nbsp;&nbsp;</i></span><span id="nombre_doc"></span>
                     &nbsp;&nbsp;&nbsp;<button class="btn" id="ver_documento" type="submit">Ver doc&nbsp;&nbsp;&nbsp;<i class="fas fa-folder-open"></i></button>
                    </p>
                </form>
                <hr/>
                <p id="parrafo_texto" style="max-height:35%; overflow-y:auto; overflow-x:hidden;"></p>
            </div>
            
        </div>
      </div>
    </div>

    <div id="modalEliminar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              <form action="{% url 'eliminar_regex' tipo=tipo id_regex=investigacion_id investigacion_id=investigacion_id camino=camino %}"  id="forma_eliminar" method="post">
                {% csrf_token %}    
            </form>
            <p class="modal-advice">¿Desea borrar los elementos seleccionados?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="forma_eliminar">Aceptar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>    

    <div id="modalAdvice" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Guardar resultado?</p>
          </div>
          <div class="modal-footer">
            <button id="guardar_res" class="btn btn-default aceptar" type="submit" form="guardar">Guardar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>

    {% if user.is_superuser %}
    <div id="modalAgregar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Agregar expresión regular</h4>
          </div>
          <div class="modal-body">
            <form id="agregar_form" action="{% url 'buscador_guiado' tipo='Búsqueda' id_regex=investigacion_id investigacion_id=investigacion_id camino=camino %}" method="post"  class="form">
                {% csrf_token %}
                {% bootstrap_form form_agregar %}
            </form>
          </div>
          <div class="modal-footer">
            <div class="row">
                <div class="col-md-6" style="padding-right:unset">
                    <button class="btn btn-default aceptar_agregar" style="width:98%" type="submit" form="agregar_form">Crear</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-default cancelar_agregar" style="width:100%" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endif %}

{% endblock %}
 
{% block scripts %}
    <script src="{% static 'FrontEnd/scripts/my_scripts/buscador.js' %}"></script>
    <script>
       $('#modalDetalles').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var url = button.data('url')
            var doc_nombre = button.data('docnombre')
            var pos_inicial = button.data('posinicial')
            var pos_final = button.data('posfinal')
            var preparrafo = button.data('preparrafo')
            var postparrafo = button.data('postparrafo')
            var string = button.data('string')
            var parrafo = button.data('parrafo')
            var parrafo = String(button.data('parrafo'))
            parrafo = parrafo.replace(new RegExp(string, 'g'), "<span style='background-color:#ffff8d'>" + string + "</span>")
            if (preparrafo == "") {
                 parrafo_aux = parrafo + "<br><br>" + postparrafo
             }
             else {
                 parrafo_aux = preparrafo + "<br><br>" + parrafo + "<br><br>" + postparrafo
            }
            var parrafo_nro = button.data('parrafonro')
            $('#ap_string').html(string)
            $('#ver_form').attr('action', url)
            $('#ap_string').html(string)
            $('#parrafo_nro').html(parrafo_nro)
            $('#pos_inicial').html(pos_inicial)
            $('#pos_final').html(pos_final)
            if (doc_nombre.length <= 35) {
                $('#nombre_doc').html(doc_nombre)
            }
            else {
                subdoc = doc_nombre.substring(0, 35)
                $('#nombre_doc').html(subdoc + "...")
                $('#nombre_doc').attr('title', doc_nombre)
            }
            $('#parrafo_texto').html(parrafo_aux)
        })
        $('#btn-select').click(function () {
            $('.btn-guiada').animate({
                width: "120%"
            }, );
            $(".checks").show();
            $("#btn-agregar").hide();
            $('#btn-select').hide();
            $("#eliminar-regex").show();
            $("#cancelar-regex").show();
        }); 
        $('#cancelar-regex').click(function () {
            $('.btn-guiada').animate({
                width: "26rem"
            }, );
            $(".checks").hide();
            $(".checks").prop('checked', false);
            $("#btn-agregar").show();
            $('#btn-select').show();
            $("#eliminar-regex").hide();
            $("#cancelar-regex").hide();
        });
        $('#guardar_res').click(function () {
           $('#loading').show();
           $('#modalAdvice').modal('hide');
           $('#row-principal').css("opacity", "0.4");
        });
    </script>
{% endblock scripts %}