{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}

{% block breadcrum-li %}
    <li class="breadcrumb-item" aria-current="page"><a class="breadcrum-links" href="{% url 'casos' %}">Casos en curso</a></li>
    <li class="breadcrumb-item active" aria-current="page">Buscador guiado</li>
{% endblock %}

{% block container %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/buscador.css' %}" />
    <div class="row" style="margin-top: 8rem; height: 80%; width: 100%">
        <div class="col-md-3" style="margin-left:2rem">
            <div id="jumboside" class="jumbotron">
                <button id="arrow-left" title="Búsqueda inteligente" class="btn flechas" onclick="location.href='{% url 'buscador_inteligente' tipo='Búsqueda' caso_id=caso_id%}'"><i class="fas fa-brain"></i></button>
                <button id="arrow-right" title="Búsqueda general" class="btn flechas" onclick="location.href='{% url 'buscador_general' caso_id=caso_id %}'"><i class="fas fa-search"></i></button>
                <h1 id="titulo" title="{{caso_nombre}}">
                {% if caso_nombre|length < 10 %}
                    {{caso_nombre}}
                {% else %}
                    {{caso_nombre|truncatechars:8}}
                {% endif %}
                </h1>
                <p id="caso">Buscador guiado</p>
            </div>
            <button id="email" class="btn botones" style="margin-top:0rem;" onclick="location.href='{% url 'buscador_guiado' tipo=email caso_id=caso_id %}';">Dirección e-mail</button>
            <button id="url" class="btn botones" onclick="location.href='{% url 'buscador_guiado' tipo=url caso_id=caso_id %}';">Dirección web (URL)</button>
            <button id="tarjeta" class="btn botones" onclick="location.href='{% url 'buscador_guiado' tipo=tarjeta caso_id=caso_id %}';">Tarjeta de crédito/ débito</button>
            <button id="dni" class="btn botones" onclick="location.href='{% url 'buscador_guiado' tipo=dni caso_id=caso_id %}';">Número de documento</button>
            <button id="telefono" class="btn botones" onclick="location.href='{% url 'buscador_guiado' tipo=telefono caso_id=caso_id %}';">Teléfono</button>
            {% if tipo != "Búsqueda" %}
                {% if res.items|length != 0 %}
                    <button id="btn-save2" title="Guardar búsqueda" class="btn botones" data-toggle="modal" data-target="#modalAdvice"><i class="fas fa-save"></i></button>
                {% endif %}
            {% endif %}
        </div>

        <div class="col-md-8">
            <div id="jumbocenter" class="jumbotron" style="margin-bottom: 0px !important">
                <div id="cabeza">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 id="titulo2">{{tipo}}</h2>
                        </div>
                        {% if tipo != "Búsqueda" %} 
                            <div class="col-md-2 col-md-offset-1">
                                <p class="cantidad" style="text-align:center; margin-left:3rem">Destacar</p>
                            </div>
                            <div class="col-md-2">
                                <p class="cantidad" style="text-align:center; padding-top:1rem;">Cant. apariciones </p>
                            </div>
                            <div class="col-md-2">
                                <p class="cantidad" style="margin-left:2rem;">Ver más </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="cuerpo" style="margin-top:1rem">
                    <form id="guardar" action="{% url 'guardar_resultadoGuiado' tipo=tipo caso_id=caso_id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="resultado_json" value="{{json}}">
                    </form>
                    {% for key, value in res.items %}
                        <div class="row info">
                            <div class="col-md-4">
                                {% if key|length < 35 %}
                                    <p title="{{key}}">{{key}}</p>
                                {% else %}
                                    <p title="{{key}}">{{key|truncatechars:35}}</p>
                                {% endif %}
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <input class="checks" form="guardar" name="checks3[]" value="{{key}}" type="checkbox" style="margin-left:5rem !important; margin-top:1rem !important">
                            </div>
                            <div class="col-md-2 ">
                                <div class="cantidad_ap">{{value|length}}</div>
                            </div>
                            <div class="col-md-2" style="height: 5rem">
                                <div class="dropdown">
                                  <button class="btn dropdown-toggle btn-drop" data-toggle="dropdown">
                                    <span class="plus_guiado">Documentos</span>&nbsp;&nbsp;&nbsp;
                                    <span class="caret" style="color:#424242"></span>
                                  </button>
                                  <ul class="dropdown-menu" style="top:59% !important; height:">
                                      {% for item in value %}
                                        <li>
                                            {% if item.1|length < 25 %}
                                                <a href="#" title="{{item.1}}" data-toggle="modal" data-target="#modalDetalles" data-url="{% url 'ver_doc' id_doc=item.0 %}" data-docNombre="{{item.1}}" data-posInicial="{{item.2}}" data-string="{{key}}" data-posFinal="{{item.3}}" data-parrafo="{{item.5}}" data-parrafoNro="{{item.4}}">{{item.1}}</a>
                                            {% else %}
                                                <a href="#" title="{{item.1}}" data-toggle="modal" data-target="#modalDetalles" data-url="{% url 'ver_doc' id_doc=item.0 %}" data-docNombre="{{item.1}}" data-posInicial="{{item.2}}" data-string="{{key}}" data-posFinal="{{item.3}}" data-parrafo="{{item.5}}" data-parrafoNro="{{item.4}}">{{item.1|truncatechars:25}}...</a>
                                            {% endif %}
                                        </li>
                                      {% endfor %}
                                  </ul>
                                </div>
                               
                            </div>
                        </div>
                    {% empty %}
                        {% if tipo != "Búsqueda" %} 
                            <p class="vacio">No hay ninguna coincidencia</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    

    <div id="modalDetalles" class="modal fade" style="top:-15% !important" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" style="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalles</h4>
            </div>
            <div class="modal-body">
                <p id="aparicion_original"><span class="detalles"><i>Aparición: &nbsp;&nbsp;&nbsp;</i></span><span id="ap_string"></span></p>
                <p><span class="detalles"><i>Párrafo: &nbsp;&nbsp;&nbsp;</i></span><span id="parrafo_nro"></span></p>
                <p><span class="detalles"><i>Posición inicial: &nbsp;&nbsp;&nbsp;</i></span><span id="pos_inicial"></span></p>
                <p><span class="detalles"><i>Posición final: &nbsp;&nbsp;&nbsp;</i></span><span id="pos_final"></span></p>
                <form id="ver_form" action="" method="post">
                    {% csrf_token %}
                    <p><span class="detalles"><i>Documento: &nbsp;&nbsp;&nbsp;</i></span><span id="nombre_doc"></span>
                     &nbsp;&nbsp;&nbsp;<button class="btn" id="ver_documento" type="submit">Ver doc&nbsp;&nbsp;&nbsp;<i class="fas fa-folder-open"></i></button>
                    </p>
                </form>
                <hr/>
                <p id="parrafo_texto" style="max-height:35%; overflow-y:auto; overflow-x:hidden;"></p>
            </div>
            
        </div>
      </div>
    </div>

    <div id="modalAdvice" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Guardar resultado?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="guardar">Guardar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>

{% endblock %}
 
{% block scripts %}
    <script src="{% static 'FrontEnd/scripts/my_scripts/buscador.js' %}"></script>
    <script>
       $('#modalDetalles').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var url = button.data('url')
            var doc_nombre = button.data('docnombre')
            var pos_inicial = button.data('posinicial')
            var pos_final = button.data('posfinal')
            var string = button.data('string')
            var parrafo = button.data('parrafo')
            var parrafo = String(button.data('parrafo'))
            parrafo = parrafo.replace(new RegExp(string,'g'), "<span style='background-color:#ffff8d'>"+string+"</span>")
            var parrafo_nro = button.data('parrafonro')
            $('#ap_string').html(string)
            $('#ver_form').attr('action', url)
            $('#ap_string').html(string)
            $('#parrafo_nro').html(parrafo_nro)
            $('#pos_inicial').html(pos_inicial)
            $('#pos_final').html(pos_final)
            if (doc_nombre.length <= 35) {
                $('#nombre_doc').html(doc_nombre)
            }
            else {
                subdoc = doc_nombre.substring(0, 35)
                $('#nombre_doc').html(subdoc + "...")
                $('#nombre_doc').attr('title', doc_nombre)
            }
            $('#parrafo_texto').html(parrafo)
        })
    </script>
{% endblock scripts %}