{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load FrontEnd_extras %}

{% block breadcrumb-li %}
    <li class="breadcrumbb-item active" aria-current="page">Casos en curso</li>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/casos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/breadcrumbb.css' %}" />

    <div class="row" style="margin-top:11rem;">
        <div class="col-md-10">
            <form id="forma_administrar" action="" method="post">
            {% csrf_token %}
            {% for caso in casos %}
                <div class="contenedor_caso">
                    <div class="panel panel-default" onclick="location.href='{% url 'caso' caso_id=caso.id %}';">
                    <div class="panel-heading" style="border-left: 5px solid #42a5f5;">
                        <div class="row">
                            <div class="col-md-11">
                                <h3 class="caso" title="{{caso}}" data-toggle="modal" data-target="#modalDetalles" data-nombre="{{caso.nombre}}" data-identificador="{{caso.identificador}}" data-descripcion="{{caso.descripcion}}" data-modelo="{{caso.modelo}}">
                                    {% if caso.nombre|length < 73 %}
                                        {{caso}}
                                    {% else %}
                                        {{caso.nombre|truncatechars:73}}
                                    {% endif %}                                
                                </h3>
                            </div>
                            <div class="col-md-1">
                                <input class="checkboxes" name="checks[]" value="{{caso.id}}" type="checkbox"> 
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" title="{{caso.descripcion}}" style="column-fill:auto; word-wrap: break-word !important;">
                        {% if caso.descripcion|length < 610 %}
                            {{caso.descripcion}}
                        {% else %}
                            {{caso.descripcion|truncatechars:610}}
                        {% endif %}
                    </div>
                    </div>
                </div>
                
            {% empty %}
                {% bootstrap_alert "No existe ningún caso en curso" %}
            {% endfor %}
        </form>
    </div>
    <div class="col-md-2">
        <button id="crear_caso" class="btn" onclick="location.href='{% url 'nuevo_caso' camino='Casos en curso:casos' %}';">Crear caso</button>
        <button id="seleccionar_casos" class="btn">Seleccionar casos</button>
        <button id="cancelar_seleccion" class="btn">Cancelar</button>
        <button id="finalizar_caso"  class="btn" data-whatever="{% url 'administrar_casos' tipo='correcto' %}">Finalizar correctamente</button>
        <button id="eliminar_caso"  class="btn" data-whatever="{% url 'administrar_casos' tipo='incorrecto' %}">Finalizar incorrectamente</button>
        <div id="aclaracion" class="comentario">Solamente se finalizarán definitivamente aquellos casos de los cuales sea propietario</div>
    </div>
    </div>   
    

    <div id="modalEliminar" class="modal modal2 fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content2">
          <div class="modal-body modal-body2">
            <p class="modal-advice2">¿Finalizar casos incorrectamente?</p>
          </div>
          <div class="modal-footer modal-footer2">
            <button class="btn btn-default aceptar2" type="submit" form="forma_administrar">Eliminar</button>
            <button type="button" class="btn btn-default cancelar2" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>

    <div id="modalFinalizar" class="modal modal2 fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content2">
          <div class="modal-body modal-body2">
            <p class="modal-advice2">¿Finalizar casos correctamente?</p>
          </div>
          <div class="modal-footer modal-footer2">
            <button class="btn btn-default aceptar2" type="submit" form="forma_administrar">Finalizar</button>
            <button type="button" class="btn btn-default cancelar2" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}


{% block scripts %}
    <script>
        $("#seleccionar_casos").click(function () {
            $(".checkboxes").show(500);
            $("#eliminar_caso").show();
            $("#finalizar_caso").show();
            $("#aclaracion").show();
            $("#crear_caso").hide();
            $("#seleccionar_casos").hide();
            $("#cancelar_seleccion").show();
        }); 

        $("#eliminar_caso").click(function () {
            $(".checkboxes").hide(250);
            $("#eliminar_caso").hide();
            $("#finalizar_caso").hide();
            $("#aclaracion").hide();
            $("#crear_caso").show();
            $("#seleccionar_casos").show();
            $("#cancelar_seleccion").hide();
        });
        $("#finalizar_caso").click(function () {
            $(".checkboxes").hide(250);
            $("#eliminar_caso").hide();
            $("#finalizar_caso").hide();
            $("#aclaracion").hide();
            $("#crear_caso").show();
            $("#seleccionar_casos").show();
            $("#cancelar_seleccion").hide();
        });
        
        $("#cancelar_seleccion").click(function () {
            $(".checkboxes").hide(250);
            $("#eliminar_caso").hide();
            $("#finalizar_caso").hide();
            $("#aclaracion").hide();
            $("#crear_caso").show();
            $("#seleccionar_casos").show();
            $("#cancelar_seleccion").hide();
            $(".checkboxes").prop('checked', false);
        });
        $(document).ready(function () {
            $(".contenedor_caso").hover(function () {
                $(this).parent().parent().siblings().css("opacity", "0.3")
                $(this).siblings().css("opacity", "0.3")
            }, function () {
                $(this).parent().parent().siblings().css("opacity", "1")
                $(this).siblings().css("opacity", "1")
            });
            $("#eliminar_caso").click(function () {
                var recipient = $(this).attr('data-whatever')
                if ($("#forma_administrar input:checkbox:checked").length > 0)
                {   
                    $('#modalEliminar').modal('show');
                }
                $('#forma_administrar').attr('action', recipient)
            }); 
            $("#finalizar_caso").click(function(){
                if ($("#forma_administrar input:checkbox:checked").length > 0)
                {   
                    $('#modalFinalizar').modal('show');
                }
                var recipient = $(this).attr('data-whatever')
                $('#forma_administrar').attr('action', recipient)
            }); 
        });
    </script>
{% endblock scripts %}