{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load FrontEnd_extras %}

{% block breadcrumb-li %}
    <li class="breadcrumbb-item" aria-current="page"><a class="breadcrumb-links" href="{% url 'casos' %}">Investigaciones en curso</a></li>
    <li class="breadcrumbb-item active" aria-current="page">
        {% if caso.nombre|length < 30 %}
            {{caso}}
        {% else %}
            {{caso.nombre|truncatechars:27}}
        {% endif %}
    </li>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/investigaciones.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/breadcrumbb.css' %}" />

    <div class="row" style="margin-top:11rem;">
        <div class="col-md-10">
            <form id="forma_administrar" action="" method="post">
            {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading" style="border-left: 5px solid #42a5f5;">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="caso" title="{{caso}}" data-toggle="modal" data-target="#modalDetalles" data-nombre="{{caso.nombre}}" data-identificador="{{caso.identificador}}" data-descripcion="{{caso.descripcion}}" data-modelo="{{caso.modelo}}">
                                    {% if caso.nombre|length < 30 %}
                                        {{caso}}
                                    {% else %}
                                        {{caso.nombre|truncatechars:30}}
                                    {% endif %}                                
                                </h3>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <input class="checkboxes" name="checks[]" value="{{caso.id}}" type="checkbox"> 
                                <div class="botones_mover">
                                    <div class="jumbocenter">
                                        <span title="Búsqueda guiada" class="buscar btns-casos buscar_guiada"><a href="{% url 'buscador_guiado' tipo='Búsqueda' caso_id=caso.id camino='Casos en curso:casos>'|addstr:caso.nombre|addstr:':caso|'|addstr:caso.id %}"><i class="far fa-compass" style="font-size:32px"></i></a></span>
                                        <span title="Búsqueda general" class="buscar btns-casos buscar_general"><a href="{% url 'buscador_general' caso_id=caso.id camino='Casos en curso:casos>'|addstr:caso.nombre|addstr:':caso|'|addstr:caso.id %}"><i class="fas fa-search" style="font-size:29px"></i></a></span>
                                        <span title="Búsqueda inteligente" class="buscar btns-casos buscar_intel"><a href="{% url 'buscador_inteligente' tipo='Búsqueda' caso_id=caso.id camino='Casos en curso:casos>'|addstr:caso.nombre|addstr:':caso|'|addstr:caso.id %}"><i class="fas fa-brain" style="font-size:29px"></i></a></span>
                                    </div>
                                    <button title="Documentos" type="button" class="btn btn-documentos2 botones_panel2" onclick="location.href='{% url 'documentos_caso' caso_id=caso.id destino=destino_documentos camino='Casos en curso:casos>'|addstr:caso.nombre|addstr:':caso|'|addstr:caso.id %}';"><i class="fas fa-file" style="font-size:29px"></i></button>
                                    <button title="Resultados" type="button" class="btn btn-resultados2 botones_panel2" onclick="location.href='{% url 'resultados_caso' caso_id=caso.id destino=destino_resultados camino='Casos en curso:casos>'|addstr:caso.nombre|addstr:':caso|'|addstr:caso.id %}';"><i class="far fa-file-alt" style="font-size:29px"></i></button>
                                    <button title="Informes" type="button" class="btn btn-informes2 botones_panel2" onclick="location.href='{% url 'informes_caso' caso_id=caso.id destino=destino_informes camino='Casos en curso:casos>'|addstr:caso.nombre|addstr:':caso|'|addstr:caso.id %}';"><i class="fas fa-archive" style="font-size:29px"></i></button>
                                    <span title="Notas" class="btn btns-casos btn-nota"><a href="{% url 'notas' id=caso.id  tipo='caso' camino='Casos en curso:casos>'|addstr:caso.nombre|addstr:':caso|'|addstr:caso.id %}"><i class="fas fa-sticky-note" style="font-size:29px"></i></a></span>
                                    <div class="divisor-vertical" style="position: relative;display: inline-block;top: -6.7rem;right: 1.2rem;"></div>
                                    {% if user == caso.propietario %}
                                        <button title="Compartir caso" class="btn btns-casos btn-compartir" data-toggle="modal" data-target="#modalAdvice" data-caso="{{caso}}" data-urlPrio="{% url 'compartir_casos' caso_id=caso.id tipo='con' %}" data-urlSinPrio="{% url 'compartir_casos' caso_id=caso.id tipo='sin' %}"><i class="fas fa-share-square" style="font-size:29px"></i></button>
                                    {% else %}
                                        <button title="Compartir caso" class="btn btns-casos btn-compartir" disabled><i class="fas fa-share-square" style="font-size:29px; cursor: not-allowed; pointer-events:all !important" ></i></button>
                                    {% endif %}
                                    <button title="Adjuntar archivo" class="btn btns-casos btn-adjuntar" data-toggle="modal" data-target="#modal-adjuntar" data-whatever="{% url 'agregar_doc' caso.id %}"><i class="fas fa-paperclip" style="font-size:29px"></i></button>
                                    {% if user == caso.propietario %}
                                        <span title="Editar caso" class="btn editar"><a href="{% url 'editar_caso' caso_id=caso.id camino='Casos en curso:casos>'|addstr:caso.nombre|addstr:':caso|'|addstr:caso.id %}"><i class="fas fa-edit" style="font-size:30px"></i></a></span>
                                    {% else %}
                                        <button title="Editar caso" class="btn editar" disabled><i class="fas fa-edit" style="font-size:30px; cursor: not-allowed; pointer-events:all !important"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" title="{{caso.descripcion}}" style="column-fill:auto; word-wrap: break-word !important;">
                        {% if caso.descripcion|length < 610 %}
                            {{caso.descripcion}}
                        {% else %}
                            {{caso.descripcion|truncatechars:610}}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>   
    
    <div id="modalAdvice" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Compartir caso:&nbsp;&nbsp;<b><span id="caso_nombre"></span></b></h4>
          </div>
          <div class="modal-body">
              <div class="row">
                 <div class="col-md-7">
                <div class="titulo">¿Con quién desea compartir el caso?:</div>
                <form id="compartir_form" action="" method="post"  class="form">
                    {% csrf_token %}
                    {% bootstrap_form form_usuario %}
                    <input type="hidden" name="next" value="{{ 'casos' }}">
                    <div class="comentario">El caso puede ser compartido tanto con privilegios de propietario (cediendo los propios) como no.</div>
                </form>
              </div>
              <div class="col-md-3 ">
                <button id="conPrivilegios" class="btn botones-compartir" form="compartir_form">Ceder privilegios</button>
                <button id="sinPrivilegios" class="btn botones-compartir" form="compartir_form">No ceder privilegios</button>
                <button id="cancelar-compartir" type="button" class="btn botones-compartir" data-dismiss="modal" >Cancelar</button>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'FrontEnd/modales.html' %}

{% endblock %}


{% block scripts %}
    <script src="{% static 'FrontEnd/scripts/my_scripts/casos.js' %}"></script>
    <script src="{% static 'FrontEnd/scripts/my_scripts/modelos.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#eliminar_caso").click(function () {
                var recipient = $(this).attr('data-whatever')
                if ($("#forma_administrar input:checkbox:checked").length > 0)
                {   
                    $('#modalEliminar').modal('show');
                }
                $('#forma_administrar').attr('action', recipient)
            }); 
            $("#finalizar_caso").click(function(){
                if ($("#forma_administrar input:checkbox:checked").length > 0)
                {   
                    $('#modalFinalizar').modal('show');
                }
                var recipient = $(this).attr('data-whatever')
                $('#forma_administrar').attr('action', recipient)
            }); 
        });
        $('#modalDetalles').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var identificador = button.data('identificador')
            var nombre = button.data('nombre')
            var descripcion = button.data('descripcion')
            var modelo = button.data('modelo')
            $('#caso_nombre2').html(nombre)
            $('#nombre_modal').html(nombre)
            $('#identificador_modal').html('<b>'+ identificador +'</b>')
            $('#descripcion_modal').html(descripcion)
            if (modelo == "DRUG")
                $('#modelo').html('Drogas')
            else if (modelo == "ECON")
                $('#modelo').html('Económicos')
        })
    </script>
{% endblock scripts %}