{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load FrontEnd_extras %}

{#Generador automatico en base al camino_array del path de origen de la breadcrumbb navbar#}
{% block breadcrumb-li %}
    {% include 'FrontEnd/breadcrumb-generator.html' %}  
    <li class="breadcrumbb-item active" aria-current="page">Documentos</li>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/documentos.css' %}" />
    <div class="row" style="margin-top: 10%">
        <div class="col-md-3">
            <div id="titulo_columna">
                <span id="titulo">Documentos</span>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-8">
            <div class="contenedor_documentos">
                <div class="row headers-tabla">
                    <div class="col-md-2 col-md-offset-1" id="documento">
                        Documento 
                    </div>
                    <div class="col-md-2 col-md-offset-6" id="opciones">
                        Opciones 
                    </div>
                </div>
                {% for documento in documentos %}
                    <div class="row fila">
                        <div class="col-md-6 col-md-offset-1">
                            <div class="nombre_doc" title="{{documento}}">
                                {% if documento.nombre_doc|length < 45 %}
                                    {{documento}}
                                {% else %}
                                    {{documento.nombre_doc|truncatechars:45}}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-1 col-md-offset-1">
                            <button title="Abrir" class="icons"><a href="{% url 'ver_doc' id_doc=documento.id %}"><i class="fas fa-folder-open"></i></a></button>
                        </div>
                        <div class="col-md-1">
                            <button title="Notas" class="icons" id="boton_nota" style="margin-left:2.2rem"><a href="{% url 'notas' id=documento.id  tipo='documento' camino=camino|addstr:'>*Documentos' %}"><i class="fas fa-sticky-note"></i></a></button>
                        </div>
                        <div class="col-md-1">
                        {% if documento.propietario_doc != user %}
                            <button title="Eliminar" class="icons" data-toggle="modal" data-target="#modalAdvice" data-whatever="{% url 'mensaje_nuevo' id_doc=documento.id  id_investigacion=id_investigacion %}"><i class="fas fa-trash"></i></button>
                        {% else %}
                            <button title="Eliminar" class="icons" data-toggle="modal" data-target="#modalEliminar" data-whatever="{% url 'eliminar_doc_investigacion' id_doc=documento.id id_investigacion=id_investigacion camino=camino %}"><i class="fas fa-trash"></i></button>
                        {% endif %}
                    </div>
                    </div>
                {% empty %}
                    <p class="vacio" style="margin-left:25%">No hay documentos asociados a la investigación</p>
                {% endfor %}
            </div>
            <button id="nuevoDoc" data-toggle="modal" data-target="#modal-adjuntar" data-whatever="{% url 'agregar_docInvestigacion' investigacion_id=id_investigacion camino=camino %}">Agregar documento&nbsp;&nbsp;&nbsp;<i class="fas fa-plus" style="font-size:12px"></i></button>
        </div>
        
    </div>
        
    <div id="modalAdvice" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Usted no es el propietario del actual documento: <br />¿Desea solicitar su eliminación?</h4>
          </div>
          <div class="modal-body">
            <form id="enviar_form" action="" method="post"  class="form">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ 'FrontEnd/documentos_investigacion.html' }}">
                <textarea rows="6" cols="70" name="mensaje" form="enviar_form" placeholder="Motivo por el cual desea su eliminación" required></textarea>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="enviar_form">Solicitar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>

    <div id="modalEliminar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Eliminar documento?</p>
            <form id="borrarForm" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ 'FrontEnd/documentos_investigacion.html' }}">
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="borrarForm">Eliminar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>
    
    {% include 'FrontEnd/modales.html' %}
    
{% endblock content %}

{% block scripts %} 
     <script src="{% static 'FrontEnd/scripts/my_scripts/documentos.js' %}"></script>
     <script src="{% static 'FrontEnd/scripts/my_scripts/modales.js' %}"></script>
{% endblock scripts %}