{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load FrontEnd_extras %}

{% block breadcrumb %}{% endblock %}
{% block container %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/investigaciones.css' %}" />

<div class="container-fluid">
    <div class="row inicio">
        <div id="columna" class="col-md-3" style="overflow-y:auto; overflow-x:hidden; height:93.5%">
            {% for mensaje in mensajes %}
                <div class="row">
                    <div class="mensaje" style="column-fill:auto; word-wrap: break-word !important;" data-toggle="modal" data-target="#modalNotificacion" data-urldoc="{% url 'eliminar_docInicio' id_doc=mensaje.documento.id %}" data-urlmsj="{% url 'eliminar_mensaje' id_msj=mensaje.id %}" data-mensaje="{{mensaje.mensaje}}" data-nombreinvestigacion="{{mensaje.investigacion.nombre}}" data-nombredoc="{{mensaje.documento.nombre_doc}}" data-emisor="{{mensaje.emisor}}" data-urlver="{% url 'ver_doc' id_doc=mensaje.documento.id %}">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="header_msj">
                                    <span style="font-style: italic; font-size: 18px; margin-top: 1rem;">{{mensaje.emisor}}</span>&nbsp;&nbsp; solicita eliminaci&#xf3;n de documento
                                </div>
                            </div>
                            <div class="col-md-1" style="margin-left:2.3rem !important">
                                <form id="forma_eliminar_msj" action="{% url 'eliminar_mensaje' id_msj=mensaje.id %}" method="post"  class="form">
                                    {% csrf_token %}
                                <button id="cruz" type="button" class="close" >&times;</button>
                                </form>
                            </div>
                        </div>
                            <div class="body_msj" style="column-fill:auto; word-wrap: break-word !important;">
                                {% if mensaje.mensaje|length < 70 %} 
                                    {{mensaje.mensaje}}
                                {% else %}
                                    {{mensaje.mensaje|truncatechars:70}}...
                                {% endif %}
                            </div>
                    </div>
                </div>
            {% empty %}
                <p class="vacio">No existen solicitudes pendientes</p>    
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="row" style="margin-top:8rem; margin-left:2rem;height:53%">
                {% for investigacion in investigaciones %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-7">
                                    <h3 class="investigacion" title="{{investigacion}}">
                                        {% if investigacion.nombre|length < 40 %}
                                            {{investigacion}}
                                        {% else %}
                                            {{investigacion.nombre|truncatechars:40}}
                                        {% endif %}                                 
                                    </h3>
                                </div>
                                <div class="col-md-5">
                                    <div class="botones_moverindex">
                                        <div class="jumbocenter" style="margin-left:0!important">
                                            <span title="Búsqueda guiada" class="buscar buscar_guiada"><a href="{% url 'buscador_guiado' tipo='Búsqueda' id_regex=investigacion.id investigacion_id=investigacion.id camino=investigacion.nombre|addstr:':investigacion|'|addstr:investigacion.id %}"><i class="far fa-compass" style="font-size:32px"></i></a></span>
                                            <span title="Búsqueda general" class="buscar buscar_general"><a href="{% url 'buscador_general' investigacion_id=investigacion.id camino=investigacion.nombre|addstr:':investigacion|'|addstr:investigacion.id %}"><i class="fas fa-search" style="font-size:29px"></i></a></span>
                                            <span title="Búsqueda inteligente" class="buscar buscar_intel"><a href="{% url 'buscador_inteligente' tipo='Búsqueda' investigacion_id=investigacion.id camino=investigacion.nombre|addstr:':investigacion|'|addstr:investigacion.id %}"><i class="fas fa-brain" style="font-size:29px"></i></a></span>
                                        </div>
                                        <span title="Notas" class="btn btn-nota-index" ><a href="{% url 'notas' id=investigacion.id  tipo='investigacion' camino=investigacion.nombre|addstr:':investigacion|'|addstr:investigacion.id %}"><i class="fas fa-sticky-note" style="font-size:29px"></i></a></span>
                                        {% if user == investigacion.propietario %}
                                            <button title="Compartir investigación" class="btn btn-compartir-index" data-toggle="modal" data-target="#modalAdvice" data-investigacion="{{investigacion}}" data-urlPrio="{% url 'compartir_investigaciones' investigacion_id=investigacion.id tipo='con' %}" data-urlSinPrio="{% url 'compartir_investigaciones' investigacion_id=investigacion.id tipo='sin' %}" style="right:-10rem"><i class="fas fa-share-square" style="font-size:29px"></i></button>
                                        {% else %}
                                            <button title="Compartir investigación" class="btn btn-compartir-index" disabled><i class="fas fa-share-square" style="font-size:29px; cursor: not-allowed; pointer-events:all !important" ></i></button>
                                        {% endif %}
                                        <button title="Adjuntar archivo" type="button" class="btn btn-adjuntar-index" data-toggle="modal" data-target="#modal-adjuntar" data-whatever="{% url 'agregar_doc' investigacion.id %}" data-next="home" ><i class="fas fa-paperclip" style="font-size:29px"></i></button>
                                        {% if user == investigacion.propietario %}
                                            <span title="Editar investigación" class="btn editar-index"><a href="{% url 'editar_investigacion' investigacion_id=investigacion.id camino=investigacion.nombre|addstr:':investigacion|'|addstr:investigacion.id %}"><i class="fas fa-edit" style="font-size:30px"></i></a></span>
                                        {% else %}
                                            <button title="Editar investigación" class="btn editar-index" disabled><i class="fas fa-edit" style="font-size:30px; cursor: not-allowed; pointer-events:all !important"></i></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" title="{{investigacion.descripcion}}">
                            {% if investigacion.descripcion|length < 110 %}
                                {{investigacion.descripcion}}
                            {% else %}
                                {{investigacion.descripcion|truncatechars:110}}
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    {% bootstrap_alert "No existe ninguna investigación en curso" %}
                {% endfor %}
                <button id="nuevaInvestigacion" onclick="location.href='{% url 'nueva_investigacion' camino=" " %}';">Nueva investigación&nbsp;&nbsp;&nbsp;</button>
            </div>
            <div style="margin-left:3rem"><hr/></div>
            <div class="row">
                <div class="col-md-12">
                    <div id="docs"><i>Documentos agregados recientemente</i></div>
                    <div id="contenedor">
                        {% for documento in documentos %}
                            <div class="row fila" style="margin-left:8rem">
                                <div class="col-md-6 col-md-offset-1">
                                    <div class="nombre_doc" title="{{documento.nombre.doc}}">
                                        {% if documento.nombre_doc|length < 55 %}
                                            {{documento.nombre_doc}}
                                        {% else %}
                                            {{documento.nombre_doc|truncatechars:55}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-1 col-md-offset-1">
                                    <button title="Descargar" class="icons2" onclick="location.href='{% url 'ver_doc' id_doc=documento.id %}';"><i class="fas fa-download"></i></button>
                                </div>
                                <div class="col-md-1">
                                    {% for investigacion in documento.investigacion.all %}
                                        <button title="Notas" class="icons2" id="boton_nota" onclick="location.href='{% url 'notas' id=documento.id  tipo='documento' camino=investigacion.nombre|addstr:':investigacion|'|addstr:investigacion.id|addstr:'>*'|addstr:documento.nombre_doc %}';"><i class="fas fa-sticky-note"></i></button>
                                    {% endfor %}
                                </div>
                            </div>
                        {% empty %}
                            <div class="vacio2">No hay documentos existentes</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'FrontEnd/modales.html' %}


<div id="modalNotificacion" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <form id="eliminar_mensaje" action="" method="post">
                {% csrf_token %}
                <button type="submit" class="close trash" title="Descartar notificación"><i class="far fa-trash-alt"></i></button>
            </form>
            <h4 class="modal-title">Notificación</h4>
          </div>
          <div class="modal-body">
            <p><span class="detalles"><i>Investigación &nbsp;&nbsp;&nbsp;</i></span><span id="investigación"></span></p>
            <p><span class="detalles"><i>Emisor: &nbsp;&nbsp;&nbsp;</i></span><span id="emisor"></span></p>
            <form id="ver_form" action="" method="post">
                {% csrf_token %}
                <p><span class="detalles"><i>Documento: &nbsp;&nbsp;&nbsp;</i></span><span id="nombre_doc"></span>
                 &nbsp;&nbsp;&nbsp;<button class="btn" id="ver_documento" type="submit">Ver doc&nbsp;&nbsp;&nbsp;<i class="fas fa-folder-open"></i></button>
                </p>
            </form>
            <hr/>
            <p id="mensaje" style="max-height:35%; overflow-y:auto; overflow-x:hidden; column-fill:auto; word-wrap: break-word !important"></p>
          </div>
          <div class="modal-footer">
            <form id="eliminar_documento" action="" method="post">
                {% csrf_token %}
                <button id="eliminar_doc_inicio" class="btn btn-default" type="submit" form="eliminar_documento">Eliminar documento&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="opacity: .8!important"></i></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </form>
          </div>
        </div>
    
      </div>
    </div>

    <div id="modalAdvice" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Compartir investigación:&nbsp;&nbsp;<b><span id="investigación_nombre"></span></b></h4>
          </div>
          <div class="modal-body">
              <div class="row">
                 <div class="col-md-7">
                <div class="titulo">¿Con quién desea compartir la investigación?:</div>
                <form id="compartir_form" action="" method="post"  class="form">
                    {% csrf_token %}
                    {% bootstrap_form form_usuario %}
                    <input type="hidden" name="next" value="{{ 'home' }}">
                    <div class="comentario">La investigación puede ser compartida tanto con privilegios de propietario (cediendo los propios) como no.</div>
                </form>
              </div>
              <div class="col-md-3 ">
                <button id="conPrivilegios" class="btn botones-compartir" form="compartir_form">Ceder privilegios</button>
                <button id="sinPrivilegios" class="btn botones-compartir" form="compartir_form">No ceder privilegios</button>
                <button id="cancelar-compartir" type="button" class="btn botones-compartir" data-dismiss="modal" >Cancelar</button>
              </div>
              </div>
              
          </div>
        </div>
    
      </div>
    </div>

    <div id="modalEliminarMsj" class="modal modal2 fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content modal-content2">
          <div class="modal-body modal-body2">
            <p class="modal-advice2">¿Eliminar mensaje?</p>
          </div>
          <div class="modal-footer modal-footer2">
            <button class="btn btn-default aceptar2" type="submit" form="forma_eliminar_msj">Eliminar</button>
            <button type="button" class="btn btn-default cancelar2" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'FrontEnd/scripts/my_scripts/modales.js' %}"></script>
    <script>
        $('#modalNotificacion').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var url_doc = button.data('urldoc')
            var url_ver = button.data('urlver')
            var url_msj = button.data('urlmsj')
            var doc_nombre = button.data('nombredoc')
            var investigacion = button.data('nombreinvestigacion')
            var emisor = button.data('emisor')
            var mensaje = button.data('mensaje')
            $('#ver_form').attr('action', url_ver)
            $('#eliminar_mensaje').attr('action', url_msj)
            $('#eliminar_documento').attr('action', url_doc)
            $('#investigacion').html(investigacion)
            $('#emisor').html(emisor)
            $('#mensaje').html(mensaje)
            if (doc_nombre.length <= 35) {
                $('#nombre_doc').html(doc_nombre)
            }
            else {
                subdoc = doc_nombre.substring(0, 35)
                $('#nombre_doc').html(subdoc + "...")
                $('#nombre_doc').attr('title', doc_nombre)
            }
        })

        $('#modalCrear').on('show.bs.modal', function (event) {
            $("#id_nombre.form-control").val('');
            $("#id_contraseña.form-control").val('');
        })
        
        $('#modalAdvice').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('urlprio')
            var recipient2 = button.data('urlsinprio')
            var recipient3 = button.data('investigacion')
            $('#investigacion_nombre').html(recipient3)
            $("#conPrivilegios").click(function () {
                $('#compartir_form').attr('action', recipient)
            })
            $("#sinPrivilegios").click(function () {
                $('#compartir_form').attr('action', recipient2)
            })
        })

        $('#modalCrear').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            var recipient = button.data('url') 
            $('#crear_form').attr('action',recipient)
        })

        $('#modalEliminar').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            var recipient = button.data('url') 
            $('#eliminar_form').attr('action',recipient)
        })
        $('#eliminar_doc_inicio').click(function () {
           $('#loading').show();
           $('#modalNotificacion').modal('hide');
           $('.container-fluid').css("opacity", "0.4");
           $('.container').css("opacity", "0.4");
        });
        $('#cruz').click(function (e) {
            e.stopPropagation();
            $('#modalEliminarMsj').modal('show');
        });
    </script>
{% endblock scripts %}
