{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load tz %}
{% load FrontEnd_extras %}

{#Generador automatico en base al camino_array del path de origen de la breadcrumbb navbar#}
{% block breadcrumb-li %}
    {% include 'FrontEnd/breadcrumb-generator.html' %}  
    <li class="breadcrumbb-item active" aria-current="page">Informes</li>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/documentos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/resultados.css' %}" />
    <div class="row" style="margin-top:10%">
        <div class="col-md-3">
            <div id="titulo_columna">
                <span id="titulo" style="margin-left:8rem !important">Informes</span>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-8">
            <div class="contenedor_documentos">
                <div class="row headers-tabla">
                    <div class="col-md-4 col-md-offset-1" id="fecha" >
                        Fecha y hora 
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        B&#250squeda 
                    </div>
                    <div class="col-md-2 col-md-offset-1" >
                        Opciones
                    </div>
                </div>
                {% for informe in informes %}
                    <div class="row fila">
                        <div class="col-md-1 col-md-offset-1">
                            <div class="nombre_doc" style="margin-left:2.8rem;" >
                                {{informe.fecha|localtime|date:"d/m/Y"}}
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="nombre_doc" style="margin-left:6rem">
                                {{informe.fecha|localtime|date:"H:i"}}
                            </div>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <div class="nombre_doc" style="text-align:center; margin-left:5rem;">
                                {{informe.busqueda}}
                                
                            </div>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button title="Abrir" class="icons" style="margin-left:4.5rem"><a href="{% url 'ver_informe' id_informe=informe.id %}"><i class="fas fa-download"></i></a></button>
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                        <button title="Eliminar" class="icons" data-toggle="modal" data-target="#modalEliminar" style="margin-left:-1.5rem" data-whatever="{% url 'eliminar_informe' informe_id=informe.id %}"><i class="fas fa-trash"></i></button>
                    </div>
                    </div>
                {% empty %}
                    <p class="vacio" style="margin-left:25%">No hay informes asociados al caso</p>
                {% endfor %}
            </div>
        </div>
        
    </div>

    <div id="modalEliminar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Eliminar informe?</p>
            <form id="borrarForm" action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ 'FrontEnd/informes_caso.html' }}">
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="borrarForm">Eliminar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>
        
{% endblock content %}

{% block scripts %} 
    <script>
        $('#modalEliminar').on('show.bs.modal', function (event) {
            console.log(event.relatedTarget)
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            console.log(recipient)
            $('#borrarForm').attr('action', recipient)
        })
    </script>
{% endblock scripts %}