{% extends "FrontEnd/layout.html" %}
{% load tz %}
{% load bootstrap3 %}

{% block container %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/buscador.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/layout_resultados.css' %}" />
    <div class="row row_resultados" style="margin-top: 8rem; width: 100%">
        <div class="col-md-3" style="margin-left:2rem">
            <div id="jumboside" class="jumbotron">
                <h2 id="titulo" title="{{header.investigacion.nombre}}">
                    {% if header.investigacion.nombre|length < 10 %}
                        {{header.investigacion.nombre}}
                    {% else %}
                        {{header.investigacion.nombre|truncatechars:8}}
                    {% endif %}
                </h2>
                <p id="investigación">Búsqueda {{header.busqueda}}</p>
            </div>
            <div id="data" class="jumbotron">
                <h4>{{header.fecha|localtime|date:"d/m/Y H:i"}}</h4>
                <h4 style="margin-top:2rem">B&#250squeda
                    {% if header.estado == True %}
                        actualizada
                    {% else %}
                        desactualizada
                    {% endif %}
                </h4>
            </div>
            <button id="eliminar" class="btn botones" data-toggle="modal" data-target="#modalEliminar">Eliminar resultado</button>
            <button id="info1" class="btn botones" data-toggle="modal" data-target="#modalInformes1">Generar informe general</button>
            
            <form id="forma_informe2" action="{% url 'crearInforme' resultado_id=header.id tipo_informe='destacados' camino=camino %}" method="post">
                {% csrf_token %}
                <button id="info2" class="btn botones" data-toggle="modal" data-target="#modalInformes2">Generar informe destacados&nbsp;&nbsp;<i class="far fa-star"></i></button>
            </form>
            <form id="forma_informe1" action="{% url 'crearInforme' resultado_id=header.id tipo_informe='no' camino=camino %}" method="post">
                {% csrf_token %}
            </form>
        </div>

        <div class="col-md-8">
            <div id="jumbocenter" class="jumbotron">
                <div id="cabeza">
                    <div class="row">
                        {% block header %}{% endblock %}
                    </div>
                </div>
                <div id="cuerpo" style="margin-top:1rem;">
                        {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div id="modalEliminar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Eliminar resultado?</p>
            <form id="borrarForm" action="{% url 'eliminar_resultado' investigacion_id=header.investigacion.id tipo=header.busqueda resultado_id=header.id camino=camino %}" method="post">
                {% csrf_token %}
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="borrarForm">Eliminar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>

    <div id="modalInformes1" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Crear informe general?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="forma_informe1">Confirmar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>
    
    <div id="modalInformes2" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Crear informe destacados?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="forma_informe2">Confirmar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>

{% endblock %}

