{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load FrontEnd_extras %}

{#Generador automatico en base al camino_array del path de origen de la breadcrumbb navbar#}
{% block breadcrumb-li %}
    {% include 'FrontEnd/breadcrumb-generator.html' %}  
    <li class="breadcrumbb-item active" aria-current="page">Nueva investigación</li>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/nueva_investigacion.css' %}" />
    <div class="row" style="margin-top:5%">
        <div class="col-md-3">
            <span id="titulo">Nueva investigación</span>
        </div>
        <div class="col-md-offset-1 col-md-8">
            <form style="margin-top:10rem" action="{% url 'nueva_investigacion' camino=" " %}" method="post" class="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-9">
                        {% bootstrap_form form %}
                    </div>
                    <div class="col-md-2">
                        {% buttons %}
                            <button id="btn1" type="submit" class="btn botones">Crear</button>
                            <button id="btn2" onclick="location.href='{% url 'investigaciones' %}';" class="btn botones">Cancelar</button>
                        {% endbuttons %}
                    </div>
                </div>               
            </form>
        </div>
        
    </div>

{% endblock content %}