{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load tz %}
{% load FrontEnd_extras %}

{#Generador automatico en base al camino_array del path de origen de la breadcrumbb navbar#}
{% block breadcrumb-li %}
    {% include 'FrontEnd/breadcrumb-generator.html' %}  
    <li class="breadcrumbb-item active" aria-current="page">Resultados</li>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/documentos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/resultados.css' %}" />
    <div class="row" style="margin-top:10%">
        <div class="col-md-3">
            <div id="titulo_columna">
                <span id="titulo" style="margin-left:6rem !important">Resultados</span>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-8">
            <div class="contenedor_documentos">
                <div class="row headers-tabla">
                    <div class="col-md-2 col-md-offset-1">
                        Estado 
                    </div>
                    <div class="col-md-3" id="fecha" style="margin-left:0.5rem">
                        Fecha y hora 
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        Búsqueda 
                    </div>
                    <div class="col-md-2" id="opciones">
                        Opciones 
                    </div>
                </div>
                {% for resultado in resultados %}
                    <div class="row fila">
                        <div class="col-md-2">
                            <div class="nombre_doc estado" style="margin-left:7.5rem !important">
                                {% if resultado.estado %}
                                    <i class="far fa-check-circle" title="Búsqueda actualizada" style="font-size:18px; margin-top:0.2rem; color:#388e3c"></i>
                                {% else %}
                                    <i class="far fa-times-circle" title="Búsqueda desactualizada" style="font-size:18px; margin-top:0.2rem; color:#d32f2f"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="nombre_doc" style="margin-left: 7rem">
                                {{resultado.fecha|localtime|date:"d/m/Y"}}
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="nombre_doc" style="margin-left:5rem" >
                                {{resultado.fecha|localtime|date:"H:i"}}
                            </div>
                        </div>
                        <div class="col-md-1 col-md-offset-1">
                            <div class="nombre_doc" >
                                {{resultado.busqueda}}
                            </div>
                        </div>
                        <div class="col-md-1 col-md-offset-1" style="margin-left:6.5rem!important">
                            <button title="Abrir" class="icons"><a href="{% url 'ver_resultado' tipo=resultado.busqueda resultado_id=resultado.id camino=camino %}" target="_blank"><i class="fas fa-folder-open"></i></a></button>
                        </div>
                        <div class="col-md-1">
                            <button title="Eliminar" class="icons" data-toggle="modal" data-target="#modalEliminar" data-whatever="{% url 'eliminar_resultadoInvestigacion' investigacion_id=investigacion_id  resultado_id=resultado.id  tipo=resultado.busqueda camino=camino %}"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                {% empty %}
                    <p class="vacio" style="margin-left:25%">No hay resultados asociados a la investigación</p>
                {% endfor %}
            </div>
        </div>
        
    </div>

    
    <div id="modalEliminar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Eliminar resultado?</p>
            <form id="borrarForm" action="" method="post">
                {% csrf_token %}
            </form>
          </div>
          <div class="modal-footer">
            <button id="eliminar_res" class="btn btn-default aceptar" type="submit" form="borrarForm">Eliminar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>
        
{% endblock content %}

{% block scripts %}
    <script>
        $('#modalEliminar').on('show.bs.modal', function (event) {
            console.log(event.relatedTarget)
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            console.log(recipient)
            $('#borrarForm').attr('action', recipient)
        });
        $('#eliminar_res').click(function () {
           $('#loading').show();
           $('#modalEliminar').modal('hide');
           $('.container').css("opacity", "0.4");
        });
    </script>
{% endblock scripts %}