{% extends "FrontEnd/layout.html" %}
{% load bootstrap3 %}
{% load FrontEnd_extras %}

{% block breadcrumb-li %}
    <li class="breadcrumbb-item active" aria-current="page">Notas de investigaciones</li>
    {% if inicial == False %}
        <li class="breadcrumbb-item active" aria-current="page">
            <a class="breadcrumb-links" href="{% url 'investigacion' id_investigacion %}">
                {% if nombre_investigacion|length < 30 %}
                    {{nombre_investigacion}}
                {% else %}
                    {{nombre_investigacion|truncatechars:27}}
                {% endif %}
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/ver_notas.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'FrontEnd/css/documentos.css' %}" />
    <div class="row">
        <div class="buscador col-md-11" style="margin-left:12rem">
            <form id="ver_form" action="{% url 'ver_notas' %}" style="margin-top:11rem;" method="post"  class="form">
                {% csrf_token %}
                    <div class="col-md-4">
                        <h4 style="font-size:20px !important">Ver notas de investigación:</h4>
                    </div>
                    <div class="col-md-5" id="not">
                        {% bootstrap_form form_elegir %}
                    </div>
                    <div class="col-md-3">
                        {% buttons %}
                            <button type="submit" id="btn1" form="ver_form" class="botones btn">Buscar</button>
                        {% endbuttons %}
                    </div>
            </form>
        </div>
    </div>
    
    <hr class="barra"/>
    
    <div class="row" style="height: 68%;">
        {% if inicial == False %}
            <div class="col-md-6" style="border-right: 3px solid; border-color: #ff9800;">
                <div class="row notas_investigacion">
                        {% for nota in notas %}
                            <div class="row {%if nota.nota|length <= 80 %} fila {% else %} fila2 {% endif %}">
                                <div class="col-md-11"style="column-fill:auto; word-wrap: break-word !important;" data-toggle="modal" data-target="#modalAdvice" data-url="{% url 'eliminar_notainvestigacion' id_investigacion=id_investigacion id_nota=nota.id %}" data-whatever="{{nota.nota}}">
                                    <div class="descripcion">{{nota.descripcion}}</div>
                                    <p class="nota">
                                        {% if nota.nota|length < 165 %}
                                            {{nota.nota}}
                                        {% else %}
                                            {{nota.nota|truncatechars:165}}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-md-1">
                                    <button class="close trash" data-toggle="modal" data-target="#modalEliminar" title="Descartar nota" data-whatever="{% url 'eliminar_notainvestigacion' id_investigacion=id_investigacion id_nota=nota.id %}"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </div>
                        {% empty %}
                            <p class="vacio">No hay notas asociadas a la investigación</p>
                        {% endfor %}
                    
                </div>
                <hr />
                <button id="nuevaNota" data-toggle="modal" data-target="#modalCrear" data-whatever="{% url 'crear_nota' id_investigacion=id_investigacion %}">Nueva nota&nbsp;&nbsp;&nbsp;<i class="fas fa-plus" style="font-size:12px"></i></button>
            </div>
            <div class="col-md-5">
                <div class="row row_vernotas">
                    <div id="docs">Documentos</div>
                    <hr />
                    {% for documento in documentos %}
                        <div class="row filaDoc">
                            <div class="col-md-9 col-md-offset-1">
                                <div class="nombre_doc" title="{{documento}}">
                                    {% if documento.nombre_doc|length < 55 %}
                                        {{documento.nombre_doc}}
                                    {% else %}
                                        {{documento.nombre_doc|truncatechars:55}}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button title="Notas" class="icons" id="boton_nota" style="top:0 !important"><a href="{% url 'notas' id=documento.id  tipo='documento' camino='Notas:ver_notas>'|addstr:nombre_investigacion|addstr:':investigacion|'|addstr:id_investigacion|addstr:'>*'|addstr:documento.nombre_doc %}"><i class="fas fa-sticky-note" style="position:relative; top:-0.8rem"></i></a></button>
                            </div>
                        </div>
                    {% empty %}
                        <p class="vacio" style="margin-left:30% !important">No hay documentos asociados a la investigación</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
    
    
    <div id="modalCrear" class="modal fade" role="dialog">
      <div class="modal-dialog modal-nuevanota">
        <div class="modal-content">
          <div class="modal-header" style="border-bottom: 1px solid #e5e5e5 !important">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Nueva nota</h4>
          </div>
          <div class="modal-body" style="margin-top: 1% !important">
            <form id="enviar_form" action="" method="post"  class="form">
                {% csrf_token %}
                {% bootstrap_form form_crear %}
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="enviar_form">Crear</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>

    <div id="modalAdvice" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body" style="margin-top: 1% !important">
            <div class="row">
                <div class="col-md-12" style="column-fill:auto; word-wrap: break-word !important;">
                    <div id="contenidoNota"></div>
                    
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn eliminarNota btn-block" data-toggle="modal" data-target="#modalEliminar" >Eliminar nota&nbsp;&nbsp;&nbsp;&nbsp;<i class="far fa-trash-alt"></i></button>
          </div>
        </div>
    
      </div>
    </div>

    <div id="modalEliminar" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="modal-advice">¿Eliminar nota?</p>
            <form id="borrarForm" action="" method="post">
                {% csrf_token %}
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default aceptar" type="submit" form="borrarForm">Eliminar</button>
            <button type="button" class="btn btn-default cancelar" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
    
      </div>
    </div>
    
{% endblock content %}

{% block scripts %} 
     <script>
         $('#modalCrear').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            $('#enviar_form').attr('action', recipient)
        })
         $('#modalAdvice').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var url = button.data('url')
            $('#contenidoNota').html(recipient)
            $('#borrarForm').attr('action', url)
         })
         $('#modalEliminar').on('show.bs.modal', function (event) {
            console.log(event.relatedTarget)
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            console.log(recipient)
            $('#borrarForm').attr('action', recipient)
         })
         $('.eliminarNota').click(function () {
           $('#modalAdvice').modal('hide');
        });
     </script>
{% endblock scripts %}